.catnav{
    background:#ccc;
    height:35px;
    font-size:14px;
    line-height:35px;
    color:#eee;
    li{
      float:left;
      width:16%;
      text-align:center;
      .on{
        color:#000;
      }
      a{
        color:#aaa;
      }
    }
}