<footer id="footer">
    <span id="todo-count"><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
    <ul id="filters">
        <li>
            <a {{#if all}}class="selected"{{/if}} href="all">All</a>
        </li>
        <li>
            <a {{#if active}}class="selected"{{/if}}href="active">Active</a>
        </li>
        <li>
            <a {{#if completed}}class="selected"{{/if}}href="completed">Completed</a>
        </li>
    </ul>
    {{#if completedTodos}}<button id="clear-completed">Clear completed</button>{{/if}}
</footer>