@import "../common/_good-info";
.article-type-five {
    background: #fff;
    padding: 0 0 0 15rem / $pxConvertRem;
    border-top: 1px solid #e0e0e0;

    h2 {
        margin: 0 0 0 -15rem / $pxConvertRem;
        line-height: 104rem / $pxConvertRem;
        font-size: 30rem / $pxConvertRem;
        color: #b0b0b0;
        text-align: center;
    }
}