<div class="tag-container">
    {{# data}}
        {{> common/catnav}}
        {{> common/slider}}
        <div id="tag-list">
            {{#content}}
                {{> common/tag_content}}
            {{/content}}
        </div>
        {{> common/load_more}}
        <input id="query" type="hidden" value="{{query}}">
        <input id="page" type="hidden" value="{{page}}">
        <input id="gender" type="hidden" value="{{gender}}">
        <input id="client-type" type="hidden" value="{{client_type}}">
        <input id="sort_id" type="hidden" value="{{sort_id}}">
    {{/ data}}
</div>