<div class="tag-container">
    {{# data}}
        {{# author}}
            <div id="author-infos" class="editor-header clearfix" data-id="{{id}}">
                <div class="avatar">
                    <img src="{{avatar}}">
                </div>
                <div class="text">
                    <p class="name">{{name}}</p>
                    <p class="info">{{info}}</p>
                </div>
            </div>
        {{/ author}}
    
        <div id="tag-list">
            {{#content}}
                {{> common/tag_content}}
            {{/content}}
        </div>
        {{> common/load_more}}
        <input id="query" type="hidden" value="{{query}}">
        <input id="page" type="hidden" value="{{page}}">
        <input id="gender" type="hidden" value="{{gender}}">
        <input id="client-type" type="hidden" value="{{client_type}}">
    {{/ data}}
</div>