<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no">
        <meta content="telephone=no" name="format-detection"> 
        {{> header}}
    </head>
    <body>
        {{{body}}}
        <div id="login-tip" class="login-tip">未登录</div>
        <input id="is-login" type="hidden" value="{{isLogin}}">
    </body>
    {{> footer}}
</html>