<!doctype html>

<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/css/style.css'>
</head>

<body>

  body: <div id="pjax-container">{{{body}}}</div>

  <hr/>
  post body
  <hr/>

  {{> partial5 }}
  <script type="text/javascript" src="/sea.js"></script>
  <script type="text/javascript">
    seajs.use('index');
  </script>
</body>
</html>
